// Body
//$body-bg: #f8fafc;
$body-bg: #97c0e4;
$primary-color : #301785;
$secondary-color : #190c42;
$light-bg: #c1d9ef;
$light-blue: #d9edff;
$light-grey: #f1f1f1;

// Typography
$font-family-sans-serif: 'Muli', sans-serif;
$font-secondary: 'Manjari', sans-serif;
$font-fancy: 'Bangers', cursive;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
