// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

button:focus{
    outline: none;
}
.btn-primary{
    color: #ffffff!important;
    border: none;
    background: rgb(9,2,180);
    background: -moz-linear-gradient(180deg, rgba(9,2,180,1) 0%, rgba(9,9,121,1) 87%);
    background: -webkit-linear-gradient(180deg, rgba(9,2,180,1) 0%, rgba(9,9,121,1) 87%);
    background: linear-gradient(180deg, rgba(9,2,180,1) 0%, rgba(9,9,121,1) 87%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0902b4",endColorstr="#090979",GradientType=1);
}

nav .container{
    padding: 10px 20px;
}
.navbar-light .navbar-nav .nav-link{
    color: #000000;
    margin: 0px 8px;
}
.navbar-light .navbar-toggler{
	outline: none;
	border: none;
	color: #000000!important;
}
/*in Mobile Version, Navbar Collapsed*/
@media screen and (max-width: 768px){
	.navbar-nav .nav-link{
		text-align: center;
	}
}
