/*MAIN PAGE - OPEN*/

#blog.container{
    width: 80%;
}
#blog{
    color: $font-white;
    .col-sm-6{
        padding: 0px;
    }
    #top-head{
        padding: 20px 0px;
        border-bottom: 1px solid $light-bg;
        h3{
            color: black;
            font-family: $font-secondary;
        }
    }
}
.blog-card{
    padding: 30px 60px!important;
    @media (max-width: 991.98px) {
        padding: 30px 10px!important;
    }
}
.blog-card-main{
    padding-left: 30px;
    background-color: $dark-bg;
    position: relative;
    border-right: 5px solid $primary-color;
    border-top: 5px solid $primary-color;
    &:hover{
        border-right: 6px solid $primary-color;
        border-top: 6px solid $primary-color;
        transform: translateX(-1px) translateY(-1px);
        position: relative;
        top: 2px;
        right: 2px;
    }
}
.blog-card-header{
    padding-left: 30px;
    border-bottom: 1px solid $primary-color;
    .btn{
        padding: 2px 8px!important;
    }
    .btn-primary{
        border-radius: 0px!important;
    }
    li a{
        font-size: 14px;
    }
}
.blog-card-body{
    padding: 10px 10px;
    a{
        color: $primary-color;
    }
    a:visited{
        color: $primary-color;
        display: none;
    }
    a:hover{
        color: $primary-color;
        text-decoration: none;
    }
    a span{
        position:absolute; 
        width:100%;
        height:100%;
        top:0;
        left: 0;
        z-index: 1;
    }
    p{
        font-family: $font-secondary;
        color: $font-white;
        font-size: $font-size-base!important;
    }
    h2{
        font-family: $font-secondary;
        line-height: $line-height-base;
        font-size: $font-size-base!important;
        font-style: normal!important;
    }
}
.blog-card-footer{
    button{
        position: relative;
        z-index: 2;
    }
    span{
        padding: 0px 15px;
        font-size: 13px;
        color: rgb(160, 160, 160);
        font-weight: 300;
    }
}

/*MAIN PAGE - CLOSE*/

/*INPOST PAGE - OPEN*/

// #post{
//     .card .card-header{
//         background-color: transparent !important;
//     }
// }

.card{
    border-right: 0 !important;
    border-top: 0 !important;
    color: $font-white;
    background-color: transparent;
    h1{
        margin: 20px 0px;
    }
    .card-header{
        background-color: $dark-bg;
        border-radius: 5px;
        &:first-child{
            border-radius: 0px;
        }
        a{
            color: $secondary-color;
        }
    }
    .card-body{
        background-color: $body-bg;
    }
    .card-footer{
        background-color: $body-bg;
        &:last-child{
            border-radius: 0px;
        }
    }
    #post-header{
        padding-bottom: 30px;
        @media (max-width: 767.98px) {
            padding: 10px 20px;
        }
        .post-cover-image{
            margin: 30px 0px;
            width: 100%;
            // transform: scale(1.4);
            // -webkit-transform: scale(1.4);
            // -moz-transform: scale(1.4);
            // -ms-transform: scale(1.4);
            // -o-transform: scale(1.4);
            // @media (max-width: 825px) {
            //     transform: scale(1.3);
            //     -webkit-transform: scale(1.3);
            //     -moz-transform: scale(1.3);
            //     -ms-transform: scale(1.3);
            //     -o-transform: scale(1.3);
            // }
            // @media (max-width: 767.98px) {
            //     margin: 50px 0px;
            //     transform: scale(1.1);
            //     -webkit-transform: scale(1.1);
            //     -moz-transform: scale(1.1);
            //     -ms-transform: scale(1.1);
            //     -o-transform: scale(1.1);
            // }
        }
    }
    #post-initial-data li{
        font-family: $font-secondary;
        font-weight: 100;
        span{
            color: $primary-color;
            position: relative;
            top: 1px;
        }
    }
    #post-categories{
        padding: 5px 0px;
        h3{
            position: relative; 
            top: 5px; 
            font-weight: bold;
        }
        .list-inline-item{
            a{
                transform: skew(-10deg);
                padding: 0px 10px;
                border-right: 1px solid $primary-color;
            }
            a:hover{
                transform: skew(-10deg) translateX(2px);
            }
            i{
                color: $primary-color;
            }
        }
    }
    #post-social-links{
        border-radius: 10px;
        background-color:transparent;
        @media (max-width: 767.98px) {
            .d-flex{
                display: -webkit-box !important;
            }
        }
        li{
            margin: 0;
            padding: 15px 0;
            .facebook{
                background-color: #4469b0;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            .twitter{
                background-color: #479dd4;
            }
            .reddit{
                background-color: #ff4500;
            }
            .pinterest{
                background-color: #cb232f;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            a{
                color: #ffffff;
                text-align: center;
                padding: 15px 40px;
                -webkit-box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.5);
                box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.5);
                transition: padding 0.3s;
                &:hover{
                    text-decoration: none;
                    padding: 15px 50px;
                }
                @media (max-width: 575.98px) {
                    padding: 15px 30px;
                }
                @media (max-width: 400px) {
                    padding: 10px 25px;
                }
            }
        }
    }
    .post-body{
        @media (max-width: 991.98px) {padding: 20px;}
        padding: 20px 50px;
        margin-top: 30px;
        font-weight: 300;
        font-size: 18px;
        #editor{
            margin: 20px 0px;
        }
        h2{
            padding: 20px 15px;
            font-weight: 700;
            @media (max-width: 575.98px) {
                font-size: 25px;
                padding: 20px 0px;
            }
            color: $primary-color;
        }
        h3{
            font-weight: 600;
        }
        img{
            width: 100%;
        }
        blockquote{
            padding: 20px;
            margin: 20px;
            background-color: $light-blue;
            border-left: 2px solid $primary-color;
            pre, p{
                margin: 0;
            }
            @media (max-width: 575.98px) {
                margin: 20px 0px;
            }
        }
        code{
            background-color: $dark-bg;
            border-radius: 4px;
            padding: 3px 7px;
            color: $secondary-color;
            white-space: nowrap;
        }
        a{
            color: $primary-color;
            text-decoration: underline;
            &:hover{
                color: $secondary-color;
            }
        }
        strong{
            font-weight: 700;
        }
        q{
            display: block;
            margin: 30px;
            font-size: 30px;
            font-style: italic;
            border-top: 2px solid $primary-color;
            border-bottom: 2px solid $primary-color;
            padding: 25px;
            @media (max-width: 575.98px) {
                margin: 30px 0px;
                font-size: 22px;
            }
        }
        pre{
            border-radius: 5px;
        }
        pre.prettyprint{
            border: 0px;
            // background-color: $light-grey;
            padding: 20px;
        }
        .prettyprint{/*background:#161b1d;*/background-color:$dark-bg;font-family:Menlo,Bitstream Vera Sans Mono,DejaVu Sans Mono,Monaco,Consolas,monospace;border:0!important}.pln{color:#ebf8ff}ol.linenums{margin-top:0;margin-bottom:0;color:#5a7b8c}li.L0,li.L1,li.L2,li.L3,li.L4,li.L5,li.L6,li.L7,li.L8,li.L9{padding-left:1em;background-color:#161b1d;list-style-type:decimal}@media screen{.str{color:#568c3b}.kwd{color:#6b6bb8}.com{color:#5a7b8c}.typ{color:#257fad}.lit{color:#935c25}.pun{color:#ebf8ff}.opn{color:#ebf8ff}.clo{color:#ebf8ff}.tag{color:#d22d72}.atn{color:#935c25}.atv{color:#2d8f6f}.dec{color:#935c25}.var{color:#d22d72}.fun{color:#257fad}}
        //.prettyprint{background:#2f3640;font-family:Menlo,Bitstream Vera Sans Mono,DejaVu Sans Mono,Monaco,Consolas,monospace;border:0!important}.pln{color:#e6e9ed}ol.linenums{margin-top:0;margin-bottom:0;color:#656d78}li.L0,li.L1,li.L2,li.L3,li.L4,li.L5,li.L6,li.L7,li.L8,li.L9{padding-left:1em;background-color:#2f3640;list-style-type:decimal}@media screen{.str{color:#ffce54}.kwd{color:#4fc1e9}.com{color:#656d78}.typ{color:#4fc1e9}.lit{color:#ac92ec}.pun{color:#e6e9ed}.opn{color:#e6e9ed}.clo{color:#e6e9ed}.tag{color:#ed5565}.atn{color:#a0d468}.atv{color:#ffce54}.dec{color:#ac92ec}.var{color:#e6e9ed}.fun{color:#e6e9ed}}
    }
    #related-blog, #author-blog{
        border-radius: 10px;
        background-color: $dark-bg;
        padding: 40px;
        .related-blog-card{
            padding: 15px;
            div{
                background-color: $body-bg;
                padding: 15px;
                border-radius: 10px;
                min-height: 100%;
                h4{
                    a{
                        color: $font-white;
                        &:hover{
                            color: $primary-color;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    #author-blog{
        img{
            border-radius: 100px;
            padding: 30px;
        }
    }
}

/*INPOST PAGE - CLOSE*/