#toolbox{
    h3{
        span{
            font-family: $font-fancy;
        }
    }
}
#about, #toolbox{
    h1{
        span{
            color: black;
        }
    }
    p{
        font-size: 25px;
        font-weight: 100;
    }
    .container-fluid{
        padding: 50px;
    }
    #main-content{
        p{
            span{
                font-family: $font-fancy;
                color: $primary-color;
            }
        }
        h2{
            border-top: 2px solid $primary-color;
            border-bottom: 2px solid $primary-color;
            padding: 50px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-style: italic;
        }
        h3{
            font-family: $font-fancy;
        }
    }
}
#about{
    img{
        border-radius: 500px;
        position: relative;
        top: -50px;
        @media (max-width: 991.98px) {
            top: -20px;
        }
        @media (max-width: 767.98px) {
            top: 0px;
        }
    }
}
#search{
    input{
        padding: 30px;
        border-radius: 5px;
        font-size: 20px;
    }
    #search_svg{
        padding: 100px;
    }
}
#contact{
    textarea{
        border-radius: 5px;
    }
    button{
        background-color: $primary-color;
        border: none;
        color: $font-white;
    }
}
#home, #about, #toolbox, #contact{
    .container{
        width: 80%;
        @media (max-width: 1199.98px) {
            width: 90%;
        }
        @media (max-width: 767.98px) {
            max-width: 100%;
        }
    }
    .container-fluid{
        background-color: $light-grey;
    }
    #main-header{
        padding: 150px 0px;
        color: $font-white;
        @media (max-width: 991.98px) {
            padding: 80px 0px;
        }
        h1{
            font-size: 60px;
            font-weight: 700;
            font-family: $font-secondary;
            color: $primary-color;
            @media (max-width: 1199.98px) {
                font-size: 45px;
            }
        }
        form{
            padding: 20px 0px;
            .row{
                padding-right: 100px ;
            }
            input{
                border-radius: 5px;
                padding: 20px;
            }
            button{
                border-radius: 5px;
                padding: 7px 20px;
            }
        }
        img{
            @media (max-width: 767.98px) {
                padding: 50px;
            }
        }
    }
    #companies{
        padding: 50px 0px;
        h3{
            font-family: $font-secondary;
            font-weight: 700;
        }
        li{
            padding: 20px;
        }
        img{
            width: 120px;
            -webkit-filter: contrast(0%);
            -moz-filter: contrast(0%);
            -o-filter: contrast(0%);
            -ms-filter: contrast(0%);
            filter: contrast(0%);
        }
    }
    #about{
        padding: 50px;
        @media (max-width: 575.98px) {
            padding: 0px;
        }
        h1{
            font-family: $font-secondary;
            font-weight: 700;
        }
        p{
            padding: 50px;
            @media (max-width: 575.98px) {
                padding: 15px;
            }
            span{
                font-family: $font-fancy;
                color: $primary-color;
            }
        }
        button{
            border-radius: 5px;
            padding: 10px 20px;
            font-weight: 600;
        }
    }
    #projects{
        padding: 50px;
        @media (max-width: 575.98px) {
            padding: 50px 0px;
        }
        h1{
            font-family: $font-secondary;
            font-weight: 700;
        }
        .project-row{
            margin: 100px 0px;
            .rtl{
                text-align: right;
                @media (max-width: 767.98px) {
                    text-align: left;
                }
            }
            .title{
                font-weight: 600;
            }
            .description{
                color: #7C7C7C;
                font-weight: 100;
            }
            a{
                color:$primary-color;
                font-weight: 700;
                &:hover{
                    color: $secondary-color;
                }
            }
            img{
                -webkit-box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.5);
                box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.5);
                @media (max-width: 767.98px) {
                    margin-bottom: 15px;
                }
            }
        }
    }
    #blog{
        padding: 50px 0px;
        h1{
            font-family: $font-secondary;
            font-weight: 700;
        }
    }
}